Repository newrelic/csec-java-agent, pull requests merged in 2023-12, with the labels that each got.

#89 Unit test cases for Netty server
  instrumentation-security/netty-4.0.0/src/test/java/com/nr/security/instrumentation/netty400/NettyTest.java
Labels: Unit test

#106 Support for Jetty-12
  instrumentation-security/jetty-12/build.gradle
  instrumentation-security/jetty-12/src/main/java/com/newrelic/agent/security/instrumentation/jetty12/server/HttpServletHelper.java
  instrumentation-security/jetty-12/src/main/java/com/newrelic/agent/security/instrumentation/jetty12/server/RequestHandler_Instrumentation.java
  instrumentation-security/jetty-12/src/test/java/com/nr/agent/security/instrumentation/jetty12/test/MyServlet.java
  instrumentation-security/jetty-12/src/test/java/com/nr/agent/security/instrumentation/jetty12/test/ServerTest.java
  settings.gradle
Labels: Intrumentation, Unit test

#90 [FIX] netty server issues
  gradle.properties
  instrumentation-security/netty-4.0.0/src/main/java/security/io/netty400/channel/ChannelInboundHandler_Instrumentation.java
  instrumentation-security/netty-4.0.0/src/main/java/security/io/netty400/channel/ChannelOutboundHandler_Instrumentation.java
  instrumentation-security/netty-4.0.0/src/main/java/security/io/netty400/utils/NettyUtils.java
  instrumentation-security/netty-4.0.0/src/test/java/com/nr/agent/security/instrumentation/netty400/NettyTest.java
Labels: bug

#112 Support for spymemcached
  instrumentation-security/spymemcached-2.12.0/build.gradle
  instrumentation-security/spymemcached-2.12.0/src/main/java/com/newrelic/agent/security/instrumentation/spy/memcached/MemcachedHelper.java
  instrumentation-security/spymemcached-2.12.0/src/main/java/net/spy/memcached/MemcachedClient_Instrumentation.java
  newrelic-security-agent/src/main/java/com/newrelic/agent/security/instrumentator/dispatcher/Dispatcher.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/VulnerabilityCaseType.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/helper/RedisCommands.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/operation/MemcachedOperation.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/operation/RedisOperation.java
  settings.gradle
Labels: Intrumentation

#111 Unit test cases for SpyMemcached
  instrumentation-security/spymemcached-2.12.0/build.gradle
  instrumentation-security/spymemcached-2.12.0/src/test/java/com/nr/agent/security/instrumentation/memcached/test/MemcachedTest.java
Labels: Unit test

#133 Unit test cases for JCache
  instrumentation-security/jcache-1.0.0/src/test/java/com/nr/agent/security/instrumentation/jcache/CustomObject.java
  instrumentation-security/jcache-1.0.0/src/test/java/com/nr/agent/security/instrumentation/jcache/JCacheTest.java
Labels: Unit test

#132 Support for JCache
  instrumentation-security/jcache-1.0.0/build.gradle
  instrumentation-security/jcache-1.0.0/src/main/java/com/newrelic/agent/security/instrumentation/jcache_1_0_0/JCacheHelper.java
  instrumentation-security/jcache-1.0.0/src/main/java/javax/cache/Cache_Instrumentation.java
  instrumentation-security/jcache-1.0.0/src/test/java/com/nr/agent/security/instrumentation/jcache/CustomObject.java
  instrumentation-security/jcache-1.0.0/src/test/java/com/nr/agent/security/instrumentation/jcache/JCacheTest.java
  newrelic-security-agent/build.gradle
  newrelic-security-agent/src/main/java/com/newrelic/agent/security/instrumentator/dispatcher/Dispatcher.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/operation/JCacheOperation.java
  settings.gradle
Labels: Intrumentation

#130 Unit test cases for lettuce 4.x to 6.x
  instrumentation-security/lettuce-4.3/build.gradle
  instrumentation-security/lettuce-4.3/src/test/java/com/nr/agent/instrumentation/lettuce_4_3/LettuceTest.java
  instrumentation-security/lettuce-5.0/build.gradle
  instrumentation-security/lettuce-5.0/src/test/java/com/nr/agent/instrumentation/lettuce_5/LettuceTest.java
Labels: Unit test

#116 Support for Ning async http client 1.0.x
  instrumentation-security/ning-async-http-client-1.0.0/build.gradle
  instrumentation-security/ning-async-http-client-1.0.0/src/main/java/com/newrelic/agent/security/instrumentation/ning/http_1_0/NingHelper.java
  instrumentation-security/ning-async-http-client-1.0.0/src/main/java/com/ning/http/client/AsyncHttpProvider_Instrumentation.java
  instrumentation-security/ning-async-http-client-1.0.0/src/main/java/com/ning/http/client/RequestBuilderBase_Instrumentation.java
  instrumentation-security/ning-async-http-client-1.0.0/src/main/java/play/CorePlugin.java
  instrumentation-security/ning-async-http-client-1.0.0/src/test/java/com/nr/agent/security/instrumentation/ning/http_1_0/NingAsyncHttpClient10Test.java
  settings.gradle
Labels: Intrumentation, Unit test

#117 Support for Ning async http client 1.1.x
  instrumentation-security/ning-async-http-client-1.1.0/build.gradle
  instrumentation-security/ning-async-http-client-1.1.0/src/main/java/com/newrelic/agent/security/instrumentation/ning/http_1_1/NingHelper.java
  instrumentation-security/ning-async-http-client-1.1.0/src/main/java/com/ning/http/client/AsyncHttpProvider_Instrumentation.java
  instrumentation-security/ning-async-http-client-1.1.0/src/main/java/play/CorePlugin.java
  instrumentation-security/ning-async-http-client-1.1.0/src/test/java/com/nr/agent/security/instrumentation/ning/http_1_1/NingAsyncHttpClient11Test.java
  settings.gradle
Labels: Intrumentation, Unit test

#118 Support for Ning async http client 1.6.1 and above
  instrumentation-security/ning-async-http-client-1.6.1/build.gradle
  instrumentation-security/ning-async-http-client-1.6.1/src/main/java/com/newrelic/agent/security/instrumentation/ning/http_1_6_1/NingHelper.java
  instrumentation-security/ning-async-http-client-1.6.1/src/main/java/com/ning/http/client/AsyncHttpProvider_Instrumentation.java
  instrumentation-security/ning-async-http-client-1.6.1/src/main/java/play/CorePlugin.java
  instrumentation-security/ning-async-http-client-1.6.1/src/test/java/com/nr/agent/security/instrumentation/ning/http_1_6_1/NingAsyncHttpClient161Test.java
  settings.gradle
Labels: Intrumentation, Unit test
