Repository newrelic/csec-java-agent, pull requests merged in 2024-04, with the labels that each got.

#193 Spray HTTP Server Instrumentation
  instrumentation-security/akka-http-2.11_10.0.0/src/main/scala/akka/http/scaladsl/server/AkkaCoreUtils.java
  instrumentation-security/spray-http-1.3.1/build.gradle
  instrumentation-security/spray-http-1.3.1/src/main/scala/spray/SprayHttpUtils.java
  instrumentation-security/spray-http-1.3.1/src/main/scala/spray/httpx/marshalling/SprayToResponseMarshallingContext.java
  instrumentation-security/spray-http-1.3.1/src/main/scala/spray/routing/SprayRoutingHttpServer.java
  instrumentation-security/spray-http-1.3.1/src/test/java/com/nr/agent/security/instrumentation/spray/http/SprayTest.java
  instrumentation-security/spray-http-1.3.1/src/test/scala/com/nr/agent/security/instrumentation/spray/http/HttpServer.scala
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/instrumentation/helpers/GenericHelper.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/StringUtils.java
  settings.gradle
Labels: Intrumentation, Unit test

#200 NR-234863 : Fixed and add more unit tests to netty support
  instrumentation-security/netty-4.0.0/src/test/java/com/nr/agent/security/instrumentation/netty400/NettyServer.java
  instrumentation-security/netty-4.0.0/src/test/java/com/nr/agent/security/instrumentation/netty400/NettyTest.java
  instrumentation-security/netty-4.0.8/src/test/java/com/nr/agent/security/instrumentation/netty400/NettyServer.java
  instrumentation-security/netty-4.0.8/src/test/java/com/nr/agent/security/instrumentation/netty400/NettyTest.java
Labels: Unit test

#237 [NR-185408] Fix for User Class Detection
  instrumentation-security/sun-net-httpserver/src/main/java/com/sun/net/httpserver/BasicAuthenticator_Instrumentation.java
  instrumentation-security/sun-net-httpserver/src/main/java/com/sun/net/httpserver/Filter_Instrumentation.java
  instrumentation-security/sun-net-httpserver/src/main/java/com/sun/net/httpserver/HttpHandler_Instrumentation.java
  instrumentation-security/sun-net-httpserver/src/main/java/com/sun/net/httpserver/HttpServerHelper.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/instrumentation/helpers/ServletHelper.java
Labels: ready
