Repository newrelic/csec-java-agent, pull requests merged in 2024-06, with the labels that each got.

#126 Support for Jedis 1.4.0 to 3.0.0
  instrumentation-security/jedis-1.4.0/build.gradle
  instrumentation-security/jedis-1.4.0/src/main/java/com/newrelic/agent/security/instrumentation/jedis_1_4_0/JedisHelper.java
  instrumentation-security/jedis-1.4.0/src/main/java/redis/clients/jedis/Connection_Instrumentation.java
  instrumentation-security/jedis-1.4.0/src/test/java/com/nr/agent/instrumentation/jedis_1_4_0/JedisTest.java
  settings.gradle
Labels: Intrumentation, Unit test, approved

#127 Support for Jedis 2.7.1 and 2.7.2
  instrumentation-security/jedis-2.7.1_2.7.2/build.gradle
  instrumentation-security/jedis-2.7.1_2.7.2/src/main/java/com/newrelic/agent/security/instrumentation/jedis_2_7_1/JedisHelper.java
  instrumentation-security/jedis-2.7.1_2.7.2/src/main/java/redis/clients/jedis/Connection_Instrumentation.java
  instrumentation-security/jedis-2.7.1_2.7.2/src/test/java/com/nr/agent/instrumentation/jedis_271_272/JedisTest.java
  settings.gradle
Labels: Intrumentation, Unit test, approved

#128 Support for Jedis 3.0.0 to 4.0.0
  instrumentation-security/jedis-3.0.0/build.gradle
  instrumentation-security/jedis-3.0.0/src/main/java/com/newrelic/agent/security/instrumentation/jedis_3_0_0/JedisHelper.java
  instrumentation-security/jedis-3.0.0/src/main/java/redis/clients/jedis/Connection_Instrumentation.java
  instrumentation-security/jedis-3.0.0/src/test/java/com/nr/agent/instrumentation/jedis_3_0_0/JedisTest.java
  settings.gradle
Labels: Intrumentation, Unit test, approved

#129 Support for Jedis 4.0.0 and above
  instrumentation-security/jedis-4.0.0/build.gradle
  instrumentation-security/jedis-4.0.0/src/main/java/com/newrelic/agent/security/instrumentation/jedis_4_0_0/JedisHelper.java
  instrumentation-security/jedis-4.0.0/src/main/java/redis/clients/jedis/Connection_Instrumentation.java
  instrumentation-security/jedis-4.0.0/src/test/java/com/nr/agent/instrumentation/jedis_4_0_0/JedisTest.java
  settings.gradle
Labels: Intrumentation, Unit test, approved

#278 Unit Tests to Vertx-Web Instrumentation Support
  instrumentation-security/vertx-web-3.2.0/src/test/java/com/nr/agent/security/instrumentation/vertx/web320/RouteTest.java
  instrumentation-security/vertx-web-3.5.1/src/test/java/com/nr/agent/security/instrumentation/vertx/web351/RouteTest.java
  instrumentation-security/vertx-web-3.8.3/src/test/java/com/nr/agent/security/instrumentation/vertx/web383/RouteTest.java
Labels: Unit test

#276 [NR-277769] Unit tests for Secure Cookie
  instrumentation-security/servlet-2.4/src/test/java/com/nr/agent/security/instrumentation/servlet24/HttpSessionTest.java
  instrumentation-security/servlet-2.4/src/test/java/com/nr/agent/security/instrumentation/servlet24/HttpTestServlet.java
  instrumentation-security/servlet-5.0/src/test/java/com/nr/agent/security/instrumentation/servlet5/HttpSessionTest.java
  instrumentation-security/servlet-5.0/src/test/java/com/nr/agent/security/instrumentation/servlet5/HttpTestServlet.java
  instrumentation-security/servlet-6.0/src/test/java/com/nr/agent/security/instrumentation/servlet6/HttpSessionTest.java
  instrumentation-security/servlet-6.0/src/test/java/com/nr/agent/security/instrumentation/servlet6/HttpTestServlet.java
Labels: Unit test

#258 [NR-273605] API Endpoint Phase 2 : Detect route of an endpoint for Spring-WebFlux Framework
  instrumentation-security/spring-webflux/src/main/java/org/springframework/web/reactive/result/method/AbstractHandlerMethodMapping_Instrumentation.java
  instrumentation-security/spring-webflux/src/main/java/org/springframework/web/reactive/result/method/SpringHelper.java
Labels: endpoint-detect, approved

#263 [NR-273281] Sub-resource case handling in JAX-RS Framework for Route Detection
  instrumentation-security/cxf-jaxrs/build.gradle
  instrumentation-security/cxf-jaxrs/src/main/java/com/newrelic/agent/java/security/cxf/jaxrs/CXFHelper.java
  instrumentation-security/cxf-jaxrs/src/main/java/com/newrelic/agent/java/security/cxf/jaxrs/JAXRSInvoker.java
  instrumentation-security/cxf-jaxrs/src/test/java/com/nr/agent/security/instrumentation/cxf/jaxrs/APIEndpointTest.java
  instrumentation-security/cxf-jaxrs/src/test/java/com/nr/agent/security/instrumentation/cxf/jaxrs/app/CustomerLocatorResource.java
  instrumentation-security/jersey/src/main/java/com/newrelic/agent/security/instrumentation/jersey/JerseyHelper.java
  instrumentation-security/jersey/src/main/java/org/glassfish/jersey/server/internal/routing/RoutingContext_Instrumentation.java
  instrumentation-security/jersey/src/main/java/org/glassfish/jersey/uri/PathPattern_Instrumentation.java
  instrumentation-security/jersey/src/main/java/org/glassfish/jersey/uri/PatternWithGroups_Instrumentation.java
  instrumentation-security/resteasy-2.2/src/main/java/com/newrelic/agent/security/instrumentation/resteasy2/RestEasyHelper.java
  instrumentation-security/resteasy-2.2/src/main/java/org/jboss/resteasy/core/ResourceMethod_Instrumentation.java
  instrumentation-security/resteasy-2.2/src/main/java/org/jboss/resteasy/core/registry/PathParamSegment_Instrumentation.java
  instrumentation-security/resteasy-2.2/src/main/java/org/jboss/resteasy/specimpl/UriInfoImpl_Instrumentation.java
  instrumentation-security/resteasy-2.2/src/test/java/com/nr/instrumentation/resteasy2_2/app/TestMapping.java
  instrumentation-security/resteasy-2.2/src/test/java/com/nr/instrumentation/resteasy2_2/test/APIEndpointTest.java
  instrumentation-security/resteasy-3/src/main/java/com/newrelic/agent/security/instrumentation/resteasy3/RestEasyHelper.java
  instrumentation-security/resteasy-3/src/main/java/org/jboss/resteasy/core/MethodExpression_Instrumentation.java
  instrumentation-security/resteasy-3/src/test/java/com/nr/instrumentation/resteasy3/app/TestMapping.java
  instrumentation-security/resteasy-3/src/test/java/com/nr/instrumentation/resteasy3/test/APIEndpointTest.java
  instrumentation-security/resteasy-4/src/main/java/com/newrelic/agent/security/instrumentation/resteasy4/RestEasyHelper.java
  instrumentation-security/resteasy-4/src/main/java/org/jboss/resteasy/core/MethodExpression_Instrumentation.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/instrumentation/helpers/URLMappingsHelper.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/HttpRequest.java
Labels: endpoint-detect, approved

#271 Remove Newrelic-api hard dependency from CSEC Agent
  newrelic-security-agent/build.gradle
Labels: ready, approved

#272 Flush all control commands on ws client close or open
  newrelic-security-agent/src/main/java/com/newrelic/agent/security/intcodeagent/controlcommand/ControlCommandProcessorThreadPool.java
  newrelic-security-agent/src/main/java/com/newrelic/agent/security/intcodeagent/websocket/WSClient.java
Labels: approved

#245 Instrumentation Support for Vert.x-core
  instrumentation-security/vertx-core-3.3.0/build.gradle
  instrumentation-security/vertx-core-3.3.0/src/main/java/com/newrelic/agent/security/instrumentation/vertx/VertxClientHelper.java
  instrumentation-security/vertx-core-3.3.0/src/main/java/io/vertx/core/http/impl/HttpClientRequestImpl_Instrumentation.java
  instrumentation-security/vertx-core-3.3.0/src/test/java/com/nr/agent/security/instrumentation/vertx/core330/VertxClientTest.java
  instrumentation-security/vertx-core-3.4.0/build.gradle
  instrumentation-security/vertx-core-3.4.0/src/main/java/com/newrelic/agent/security/instrumentation/vertx/VertxClientHelper.java
  instrumentation-security/vertx-core-3.4.0/src/main/java/io/vertx/core/http/impl/HttpClientRequestImpl_Instrumentation.java
  instrumentation-security/vertx-core-3.4.0/src/test/java/com/nr/agent/security/instrumentation/vertx/core340/VertxClientTest.java
  instrumentation-security/vertx-core-3.4.0/src/test/java/com/nr/agent/security/instrumentation/vertx/core340/WebClientTest.java
  instrumentation-security/vertx-core-3.7.1/build.gradle
  instrumentation-security/vertx-core-3.7.1/src/main/java/com/newrelic/agent/security/instrumentation/vertx/web/VertxClientHelper.java
  instrumentation-security/vertx-core-3.7.1/src/main/java/io/vertx/core/http/impl/HttpClientRequestImpl_Instrumentation.java
  instrumentation-security/vertx-core-3.7.1/src/test/java/com/nr/agent/security/instrumentation/vertx/core371/VertxClientTest.java
  instrumentation-security/vertx-core-3.7.1/src/test/java/com/nr/agent/security/instrumentation/vertx/core371/WebClientTest.java
  instrumentation-security/vertx-core-4.0.0/build.gradle
  instrumentation-security/vertx-core-4.0.0/src/main/java/com/newrelic/agent/security/instrumentation/vertx/web/VertxClientHelper.java
  instrumentation-security/vertx-core-4.0.0/src/main/java/io/vertx/core/http/impl/HttpClientRequestImpl_Instrumentation.java
  instrumentation-security/vertx-core-4.0.0/src/test/java/com/nr/agent/security/instrumentation/vertx/core400/VertxClientTest.java
  instrumentation-security/vertx-core-4.0.0/src/test/java/com/nr/agent/security/instrumentation/vertx/core400/WebClientTest.java
  newrelic-security-agent/src/main/java/com/newrelic/api/agent/security/Agent.java
  settings.gradle
Labels: ready

#268 NR-273623 Fix for Play Framework Application Crash
  instrumentation-security/akka-http-core-2.11_10.0.11/build.gradle
  instrumentation-security/akka-http-core-2.13_10.1.8/build.gradle
  instrumentation-security/akka-http-core-2.13_10.1.8/src/main/scala/akka/http/scaladsl/AkkaAsyncRequestHandler.scala
  instrumentation-security/akka-http-core-2.13_10.1.8/src/main/scala/akka/http/scaladsl/AkkaCoreUtils.java
  instrumentation-security/akka-http-core-2.13_10.1.8/src/main/scala/akka/http/scaladsl/AkkaSyncRequestHandler.scala
  instrumentation-security/akka-http-core-2.13_10.1.8/src/main/scala/akka/http/scaladsl/HttpExt_Instrumentation.java
  instrumentation-security/akka-http-core-2.13_10.1.8/src/main/scala/akka/http/scaladsl/Http_Instrumentation.java
  instrumentation-security/akka-http-core-2.13_10.1.8/src/main/scala/akka/http/scaladsl/IncomingConnection_Instrumentation.java
  instrumentation-security/akka-http-core-2.13_10.1.8/src/main/scala/akka/http/scaladsl/ResponseFutureHelper.scala
  instrumentation-security/akka-http-core-2.13_10.1.8/src/main/scala/scala/Serializable_Instrumentation.scala
  instrumentation-security/akka-http-core-2.13_10.1.8/src/test/scala/com/nr/agent/security/instrumentation/akka/http/core_10/AkkaHttpCoreTest.scala
  instrumentation-security/akka-http-core-2.13_10.1.8/src/test/scala/com/nr/agent/security/instrumentation/akka/http/core_10/AkkaServer.scala
  instrumentation-security/akka-http-core-2.13_10.1.8/src/test/scala/com/nr/agent/security/instrumentation/akka/http/core_10/PlayServer.scala
  settings.gradle
Labels: ready, approved

#279 Add Unit Tests for Spring-Webclient Instrumentation Support
  instrumentation-security/spring-webclient-5.0/build.gradle
  instrumentation-security/spring-webclient-5.0/src/test/java/com/nr/agent/security/instrumentation/spring/webclient/SpringWebClientTest.java
Labels: Unit test

#267 [NR-273607] Fallback mechanism for route calculation
  newrelic-security-agent/src/main/java/com/newrelic/api/agent/security/Agent.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/instrumentation/helpers/RouteComparator.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/instrumentation/helpers/URLMappingsHelper.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/Framework.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/RouteSegment.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/RouteSegments.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/StringUtils.java
Labels: endpoint-detect

#254 [NR-267158] API Endpoint Support For Netty Reactor
  instrumentation-security/netty-reactor-0.7.0/build.gradle
  instrumentation-security/netty-reactor-0.7.0/src/main/java/reactor/ipc/netty/http/server/HttpRouteHandler_Instrumentation.java
  instrumentation-security/netty-reactor-0.7.0/src/main/java/reactor/ipc/netty/http/server/HttpServerRoutes_Instrumentation.java
  instrumentation-security/netty-reactor-0.8.0/build.gradle
  instrumentation-security/netty-reactor-0.8.0/src/main/java/reactor/netty/http/server/HttpRouteHandler_Instrumentation.java
  instrumentation-security/netty-reactor-0.8.0/src/main/java/reactor/netty/http/server/HttpServerRoutes_Instrumentation.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/instrumentation/helpers/URLMappingsHelper.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/ApplicationURLMapping.java
  settings.gradle
Labels: endpoint-detect, ready

#256 [NR-265913] API Endpoint Phase 2 : Detect route of an endpoint for Jax-RS Framework
  instrumentation-security/apache-struts2/src/main/java/com/newrelic/agent/security/instrumentation/apache/struts2/StrutsHelper.java
  instrumentation-security/apache-tomcat-10/src/main/java/com/newrelic/agent/security/instrumentation/apache/tomcat10/HttpServletHelper.java
  instrumentation-security/apache-tomcat-7/src/main/java/com/newrelic/agent/security/instrumentation/apache/tomcat7/HttpServletHelper.java
  instrumentation-security/cxf-jaxrs/build.gradle
  instrumentation-security/cxf-jaxrs/src/main/java/com/newrelic/agent/java/security/cxf/jaxrs/CXFHelper.java
  instrumentation-security/cxf-jaxrs/src/main/java/com/newrelic/agent/java/security/cxf/jaxrs/JAXRSInvoker.java
  instrumentation-security/cxf-jaxrs/src/test/java/com/nr/agent/security/instrumentation/cxf/jaxrs/APIEndpointTest.java
  instrumentation-security/cxf-jaxrs/src/test/java/com/nr/agent/security/instrumentation/cxf/jaxrs/app/CustomerLocatorResource.java
  instrumentation-security/grails-1.3/src/main/java/com/newrelic/agent/security/instrumentation/grails13/GrailsHelper.java
  instrumentation-security/grails-2.0/src/main/java/com/newrelic/agent/security/instrumentation/grails2/GrailsHelper.java
  instrumentation-security/grails-3.0/src/main/java/com/newrelic/agent/security/instrumentation/grails3/GrailsHelper.java
  instrumentation-security/jersey/src/main/java/com/newrelic/agent/security/instrumentation/jersey/JerseyHelper.java
  instrumentation-security/jersey/src/main/java/org/glassfish/jersey/server/internal/routing/RoutingContext_Instrumentation.java
  instrumentation-security/resteasy-2.2/src/main/java/com/newrelic/agent/security/instrumentation/resteasy2/RestEasyHelper.java
  instrumentation-security/resteasy-2.2/src/main/java/org/jboss/resteasy/core/registry/PathParamSegment_Instrumentation.java
  instrumentation-security/resteasy-2.2/src/main/java/org/jboss/resteasy/specimpl/UriInfoImpl_Instrumentation.java
  instrumentation-security/resteasy-2.2/src/test/java/com/nr/instrumentation/resteasy2_2/app/TestMapping.java
  instrumentation-security/resteasy-2.2/src/test/java/com/nr/instrumentation/resteasy2_2/test/APIEndpointTest.java
  instrumentation-security/resteasy-3/src/main/java/com/newrelic/agent/security/instrumentation/resteasy3/RestEasyHelper.java
  instrumentation-security/resteasy-3/src/main/java/org/jboss/resteasy/core/MethodExpression_Instrumentation.java
  instrumentation-security/resteasy-3/src/test/java/com/nr/instrumentation/resteasy3/app/TestMapping.java
  instrumentation-security/resteasy-3/src/test/java/com/nr/instrumentation/resteasy3/test/APIEndpointTest.java
  instrumentation-security/resteasy-4/src/main/java/com/newrelic/agent/security/instrumentation/resteasy4/RestEasyHelper.java
  instrumentation-security/resteasy-4/src/main/java/org/jboss/resteasy/core/MethodExpression_Instrumentation.java
  instrumentation-security/servlet-5.0/src/main/java/com/newrelic/agent/security/instrumentation/servlet5/HttpServletHelper.java
  instrumentation-security/spring-webflux/src/main/java/org/springframework/web/reactive/result/method/AbstractHandlerMethodMapping_Instrumentation.java
  instrumentation-security/spring-webflux/src/main/java/org/springframework/web/reactive/result/method/SpringHelper.java
  instrumentation-security/spring-webflux/src/test/java/com/nr/agent/security/instrumentation/spring/webmvc/APIEndpointTest.java
  instrumentation-security/spring-webmvc-3.1.0/build.gradle
  instrumentation-security/spring-webmvc-3.1.0/src/main/java/org/springframework/web/servlet/handler310/AbstractHandlerMethodMapping_Instrumentation.java
  instrumentation-security/spring-webmvc-3.1.0/src/main/java/org/springframework/web/servlet/handler310/SpringHelper.java
  instrumentation-security/spring-webmvc-5.3.0/build.gradle
  instrumentation-security/spring-webmvc-5.3.0/src/main/java/org/springframework/web/servlet/handler530/AbstractHandlerMethodMapping_Instrumentation.java
  instrumentation-security/spring-webmvc-5.3.0/src/main/java/org/springframework/web/servlet/handler530/SpringHelper.java
  instrumentation-security/spring-webmvc-6.0.0/build.gradle
  instrumentation-security/spring-webmvc-6.0.0/src/main/java/org/springframework/web/servlet/handler6/AbstractHandlerMethodMapping_Instrumentation.java
  instrumentation-security/spring-webmvc-6.0.0/src/main/java/org/springframework/web/servlet/handler6/SpringHelper.java
  instrumentation-security/spring-webmvc-6.0.0/src/test/java/com/nr/agent/security/instrumentation/spring/webmvc/APIEndpointTest.java
  instrumentation-security/spring-webmvc-6.0.0/src/test/java/com/nr/agent/security/instrumentation/spring/webmvc/TestMappings.java
  instrumentation-security/sun-net-httpserver/src/main/java/com/sun/net/httpserver/HttpContext_Instrumentation.java
  instrumentation-security/sun-net-httpserver/src/main/java/com/sun/net/httpserver/HttpServer_Instrumentation.java
  newrelic-security-agent/src/main/java/com/newrelic/api/agent/security/Agent.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/instrumentation/helpers/GenericHelper.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/instrumentation/helpers/RouteComparator.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/instrumentation/helpers/URLMappingsHelper.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/AgentMetaData.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/ApplicationURLMapping.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/Framework.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/HttpRequest.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/RouteSegment.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/RouteSegments.java
  newrelic-security-api/src/main/java/com/newrelic/api/agent/security/schema/StringUtils.java
  settings.gradle
Labels: endpoint-detect

#260 enable module instrumentation:spymemcached-2.12.0
  settings.gradle
Labels: Intrumentation, ready
